@font-face {
    font-family: 'Dharma Gothic Light';
    src: url(fonts/dharmagothic_light.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    background-image: url(../img/bg_notvideo.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
}

.page-content {
    padding: 10% 20% 20%;
}

.page-content h2, label {
    color: #97daea;
    font-family: "Dharma Gothic Light", "Pathway Gothic One", Helvetica, Arial, sans-serif;
}

.page-content label {
    font-size: 16px;
}

.logo {
    max-width: 100%;
}

.grid {
    margin: 0 auto;
}

.grid div {
    text-align: center;
}

.btn-login {
    margin-top: 20px;
}

.xcom-navbar {
    height: 64px;
}

.xcom-brand {
    padding: 0 15px;
}

.resource {
    color: limegreen;
}

.resource.engenheiro, .cientista, .intel {
    color: #97daea;
}

.globe-fab-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 23px 12px 23px 23px;
    white-space: nowrap;
}

.btn-globe {
    padding: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.dropdown-toggle {
    cursor: pointer;
}