<div class="modal-header text-center">
    <h4 class="modal-title">Deletear Pesquisa?</h4>
</div>
<div class="modal-body" ng-init="initDeleteResearch()">

    <h2>{{pesquisa.name}}</h2>

    <h3>{{pesquisa.description}}</h3>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="confirm()">Confirmar</button>
                &nbsp;
                <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</div>