<div class="xcom-navbar">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pe-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand xcom-brand" ui-sref="home">
                    <img ng-src="img/icon_gamewon.png" width="64" height="64">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="pe-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
                    </li>
                    <li>
                        <a ui-sref="home"><span class="fa fa-flask"></span>&nbsp;Pesquisa</a>
                    </li>
                    <li>
                        <a ui-sref="home"><span class="fa fa-wrench"></span>&nbsp;Engenharia</a>
                    </li>
                    <li>
                        <a ui-sref="home"><span class="fa fa-shield"></span>&nbsp;Arsenal</a>
                    </li>
                    <li>
                        <a ui-sref="home"><span class="fa fa-star"></span>&nbsp;Comando</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="col-xs-12">
    <div class="pull-right">
        <span class="resource">&nbsp;EN.: 0/10&nbsp;<i class="fa fa-flash"></i></span>
        <span class="resource engenheiro">&nbsp;ENG.: 0&nbsp;<i class="fa fa-graduation-cap"></i></span>
        <span class="resource cientista">&nbsp;CIEN.: 0&nbsp;<i class="fa fa-flask"></i></span>
        <span class="resource">&nbsp;LIGAS: 0&nbsp;<i class="fa fa-database"></i></span>
        <span class="resource">&nbsp;ELER.: 0&nbsp;<i class="fa fa-cubes"></i></span>
        <span class="resource intel">&nbsp;INTEL.: 0&nbsp;<i class="fa fa-user-secret"></i></span>
        <span class="resource">&nbsp;SUPR.: 0&nbsp;<i class="fa fa-money"></i></span>
        <span class="resource">&nbsp;+0&nbsp;<i class="fa fa-sort"></i></span>
    </div>
</div>
