<div class="xcom-navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#pe-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand xcom-brand" ui-sref="home">
                    <img ng-src="img/icon_gamewon.png" width="64" height="64">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="pe-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-flask"></span>&nbsp;Pesquisa&nbsp;<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="home"><i class="fa fa-search"></i>&nbsp;Ver pesquisa</a></li>
                            <li><a ui-sref="home"><i class="fa fa-check"></i>&nbsp;Realizadas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-wrench"></span>&nbsp;Engenharia&nbsp;<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="home"><i class="fa fa-bomb"></i>&nbsp;Campo de Testes</a></li>
                            <li><a ui-sref="home"><i class="fa fa-plus-square-o"></i>&nbsp;Construir Instalação</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-shield"></span>&nbsp;Arsenal&nbsp;<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="home"><i class="fa fa-male"></i>&nbsp;Armaduras</a></li>
                            <li><a ui-sref="items"><i class="fa fa-cogs"></i>&nbsp;Items</a></li>
                            <li><a ui-sref="home"><i class="fa fa-book"></i>&nbsp;Treinamento</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-star"></span>&nbsp;Comando&nbsp;<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="home"><i class="fa fa-street-view"></i>&nbsp;Opcao1</a></li>
                            <li><a ui-sref="home"><i class="fa fa-street-view"></i>&nbsp;Opcao2</a></li>
                            <li><a ui-sref="classes"><i class="fa fa-users"></i>&nbsp;Classes</a></li>
                        </ul>
                    </li>
                    <li ng-show="isAdmin">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-eye"></span>&nbsp;Mestre&nbsp;<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="gmresearch"><i class="fa fa-search"></i>&nbsp;Pesquisas</a></li>
                            <li><a ui-sref="home"><i class="fa fa-street-view"></i>&nbsp;Opcao2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>